@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(font-awesome.css);

body
{
	font-family:Avenir, "Open Sans",Helvetica, sans-serif;
	background-color:#F0F0FF;
	margin:0;
	padding:0;
}
#navbar
{
	box-shadow: rgba(0,0,0,0.5) 0px 1px 5px;
	background-color:orange;
	background:-webkit-linear-gradient(top, #FF8430 95%, #B24800 100%);
	background:-moz-linear-gradient(top, #FF8430 95%, #B24800 100%);
	background:-ms-linear-gradient(top, #FF8430 95%, #B24800 100%);
	background:-o-linear-gradient(top, #FF8430 95%, #B24800 100%);
	background:linear-gradient(top, #FF8430 95%, #B24800 100%);
	color:white;
	margin:0px;
	height:60px;
	text-shadow:rgba(255,255,255,0.5) 0 0  4px;
}
#navbar h1
{
	margin:0;
	padding-top:10px;
	width:100px;
	float:left;
}
.content
{
	width:720px;
	margin:auto;
	clear:both;
}
#footer
{
	text-align: center;
}
#navbar ul
{
	list-style:none;
	padding:0;
	margin:0;
}
#navbar li
{
	padding-top:10px;
	width:60px;
	text-align:center;
	font-size:xx-large;
}
#menu li {float:left;}
#menuright li { float: right;}
.small { width: 240px;}
.large { width: 480px;}
.left { float:left;}
.right {float:right;}
.large, .small { margin:10px auto;}

hr
{
	width:600px;
	height:1px;
	background-color:transparent;
	background:-webkit-linear-gradient(left, transparent 0%, black 25%, black 75%, transparent 100%);
	background:-moz-linear-gradient(left, transparent 0%, black 25%, black 75%, transparent 100%);
	background:-ms-linear-gradient(left, transparent 0%, black 25%, black 75%, transparent 100%);
	background:-o-linear-gradient(left, transparent 0%, black 25%, black 75%, transparent 100%);
	background:linear-gradient(left, transparent 0%, black 25%, black 75%, transparent 100%);
	border:none;
}
a { text-decoration: none; color:blue;}