@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot');
	src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
	url('fonts/icomoon.svg#icomoon') format('svg'),
	url('fonts/icomoon.woff') format('woff'),
	url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@-ms-viewport{
	width: device-width;
}

body {
	background-color: #F0F0FA;
	margin: 0;
	padding-top: 80px;
	padding-bottom:10px;
}

#fixedbg {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height:100%;
    position:fixed;
    width:100%;
    z-index:-1;
    top:0;
    left:0;
}

#logo {
	width:17px;
	height:17px;
	position:relative;
	top:-2px;
	margin-right:3px;
}

#welcomebox {
	background: #FFF;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
	text-align: center;
	padding: 10px;
	max-width: 500px;
	position: relative;
	overflow: hidden;
	margin-bottom:20px;
	margin-top:30px;
}

#loginbox {
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
	max-width: 500px;
	position: relative;
	overflow: hidden;

	#svgloginlogo {
		width: 220px;
		height: 220px;
	}

}

#signupbox {
	display: none;
	text-align: center;
	padding: 10px;
	margin-top: 10px;
	max-width: 500px;
	position: relative;
	overflow: hidden;
}
footer {
	text-align: center;
	padding: 30px 0;
	color: black;
	background-image: -webkit-linear-gradient(rgba(0,0,0,0),rgba(200, 200, 200, 0.75) 40%, rgba(200, 200, 200, 0.75) 70%, rgba(0,0,0,0) 100%);
	background-image: -moz-linear-gradient(rgba(0,0,0,0),rgba(200, 200, 200, 0.75) 40%, rgba(200, 200, 200, 0.75) 70%, rgba(0,0,0,0) 100%);
	background-image: linear-gradient(rgba(0,0,0,0),rgba(200, 200, 200, 0.75) 40%, rgba(200, 200, 200, 0.75) 70%, rgba(0,0,0,0) 100%);
}

.loginsignuperror {
	color: #d80000;
}

.whitecontainer {
	background: #FFF;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
	padding: 10px;
}

.profileContainer {
	background: #FFF;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
	padding: 5px;
	margin-bottom:20px;
	margin-right:10px;
	position:fixed;
}

.profileContainer .span2 {
	margin-top: 15px;
}

.postContainer {
	padding-bottom:0px;
}

#creategroupform
{
	display:none;
	background: #FFF;
	border-radius: 5px;
	box-shadow: inset rgba(0,0,0,0.5) 0px 0px 5px;
	padding: 10px 10px 5px 10px;
	margin-top:20px;
}


#groupListContent ul
{
	list-style:none;
	font-size:large;
	font-weight:bold;
	padding:0;
	margin:0;
}

#groupListContent li
{
	border-bottom: 1px solid black;
	margin:0;
	padding:0;
	padding:5px;
}

#groupListContent li:last-child
{
	border-bottom:none;
}

#groupListContent a
{
	color:black;
}

.groupsHeader{
	padding:40px;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
}

#postUserImage {
	max-width: 50px;
	max-height: 50px;
	padding-left:20px;
}

select {
	outline: none !important;
}

input[type="search"] {
	background-image: url(images/search.png);
	background-repeat: no-repeat;
	background-position: 8px 5px;
	padding-left:33px;
}

input[type="search"]::-webkit-input-placeholder {
 	font-size: 16px;
}

input[type="search"]:-moz-placeholder {
 	font-size: 16px;
}

input[type="search"]::-moz-placeholder {
 	font-size: 16px; 
}

input[type="search"]:-ms-input-placeholder {  
 	font-size: 16px;
}

#groupmembers
{
	margin-top:10px;
	overflow:hidden;
	height:50px;
	text-align:left;
}

#groupmembers img
{
	width:46px;
	height:46px;
	padding:2px;
	float:left;
}

.largeHeader{
	padding:10px 20px 20px 20px !important;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
}

.largeHeader h1 {
	font-size:50px !important;
	line-height:50px !important;
}
	
.largeHeader h2 {
	font-size:24px !important;
	line-height:24px !important;
}	

.largeButton {
	margin-top:10px;
}

select {
	outline: none !important;
}

input[type="search"] {
	background-image: url(images/search.png);
	background-repeat: no-repeat;
	background-position: 8px 5px;
	padding-left:33px !important;
}

input[type="search"]::-webkit-input-placeholder {
 	font-size: 16px;
}

input[type="search"]:-moz-placeholder {
 	font-size: 16px;
}

input[type="search"]::-moz-placeholder {
 	font-size: 16px; 
}

input[type="search"]:-ms-input-placeholder {  
 	font-size: 16px;
}

#profilePicture {
	max-height:100px;
	max-width:100px;
	margin-top:10px;
}

.backgroundPicture {
	max-width:200px;
	max-height:125px;
}

.inputs {
	width:100%;
}

/* Large desktop */
@media (min-width: 1200px) {
	.groupsHeader {
		position:fixed;
		max-width:567px;
	}
	  
	.largeHeader{
		position:fixed;
		top:40px;
	}
	.content {
		margin-top:110px;
	}
}

/*Normal desktop */
@media (min-width: 980px) and (max-width: 1199px) {
	.groupsHeader{
		position:fixed;
		max-width:427px !important;	
	}
	
	.largeHeader{
		position:fixed;
		top:40px;
	}
	.content {
		margin-top:110px;
	}
}

/* All of the media queries stupidly put at the end so it's miles away from where the rules are first defined.*/
/* I'm terribly sorry Gareth, you can put them back if you want. */
/* Well now we've moved them it seems like a lot of effort to put them back */

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.groupsHeader{
		position:fixed;
		max-width:311px !important;	
	}
}

/* Above large tablet */
@media screen and (min-width: 979px) {
	.navbar .nav li.dropdown.open>.dropdown-toggle.navbar-search {
		background-color:inherit;
	}
	#search-results {
		margin-top:5px;
		width:255px;
	}
}


/* Below large tablet */
@media screen and (max-width: 979px) {
	#postUserImage {
		padding-left:0 !important;
	}
	.popover {
		display:none !important;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.profileContainer {
		display:none;
	}
	
	.postContainer {
		padding-bottom:20px !important;
	}
	
	.groupsHeader{
		position:relative;
	}
	
	#groupmembers{
		display:none;
	}
	
}
 
 
/* Landscape phones and down */
@media (max-width: 480px) {
	
	.profileContainer {
		display:none;
	}
	
	.postContainer {
		padding-bottom:20px !important;
	}
	
	.groupsHeader{
		position:relative;
	}
	
	.largeHeader h1 {
		font-size:30px !important;
		line-height:30px !important;
	}
	
	.largeHeader h2 {
		font-size:20px !important;
		line-height:20px !important;
	}
	
	#settings	{
		display:none;
	}
}

/* Tooltips and popovers */

.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 11px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}

.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #000000;
  border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #000000;
  border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #000000;
  border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #000000;
  border-width: 0 5px 5px;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.popover.top {
  margin-top: -10px;
}

.popover.right {
  margin-left: 10px;
}

.popover.bottom {
  margin-top: 10px;
}

.popover.left {
  margin-left: -10px;
}

.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
     -moz-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
}

.popover-title:empty {
  display: none;
}

.popover-content {
  padding: 9px 14px;
}

.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover .arrow {
  border-width: 11px;
}

.popover .arrow:after {
  border-width: 10px;
  content: "";
}

.popover.top .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}

.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #ffffff;
  border-bottom-width: 0;
}

.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}

.popover.right .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #ffffff;
  border-left-width: 0;
}

.popover.bottom .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
}

.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #ffffff;
  border-top-width: 0;
}

.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}

.popover.left .arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #ffffff;
  border-right-width: 0;
}

.switchform
{
	cursor:pointer;
	color:red;
}