@import "compass/css3/";

//fonts

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.svg#icomoon') format('svg'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

// colors
$whitebg: #f5f5ff;

// dimensions


// mixins

@mixin breakpoint($point) {
	// Example: @include breakpoint(small) { width: 18em; }
	@if $point == small-thin { // up to 480px - many mobile devices portrait
		@media (max-width: 30em) { @content; }
	}
	@elseif $point == small-wide { // 480px to 768px - and then when they rotate it landscape
		@media (min-width: 30em) and (max-width: 48em) { @content; }
	}
	@elseif $point == smaller { // upto 768px - mobile devices
		@media (max-width: 48em) { @content; }
	}
	@elseif $point == larger { // over 768px - mobile devices
		@media (min-width: 48em) { @content; }
	}
	@elseif $point == small { // 768px to 960px - some iPads at the portrait orientation and the rest of the mobile devices
		@media (min-width: 48em) { @content; }
	}
	@elseif $point == medium { // 960px and over- smaller browsers including 800x600 
		@media (max-width: 60em)  { @content; }
	}
	@elseif $point == large { // 1300px and over - 1366x768 and modern wide screens like that
		@media (min-width: 81.25em) { @content; }
	}
}

body
{
	font-family:Avenir, "Open Sans",Helvetica, sans-serif;
	background-color:#F0F0FA;
	background-attachment: fixed;
	margin:0;
	margin-top: 100px;
	padding:0;
}

header {
	margin:0;
	height:60px;
	width:90%;
	padding:0 5%;
	top:0;
	left:0;
	position:fixed;
	z-index:1000;
	@include single-box-shadow(rgba(0,0,0,.5),0,1px,5px);
	background-color:#cc3333;
	@include background-image(linear-gradient(#cc3333 95%, #B24800));
	color: white;
	h1 {
		margin:0;
		padding-top:10px;
		float:left;
	}
	nav {
		display:block;
		margin:0 0 0 100px;
		.barbutton {
			display:block;
			float:left;
			text-align:center;
			padding:0 10px;
			cursor:pointer;
			height:48px;
			padding:2px 10px 10px 10px;
			@include single-transition(all,.5s,ease-in-out);
			div {
				display:block;
				font-size:25px;
				text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
				opacity: 0.5;
				@include single-transition(all,.5s,ease-in-out);
			}
			span {
				font-size: 17px;
				padding-left: 4px;
				opacity: 0.5;
				@include single-transition(all,.5s,ease-in-out);
			}
			&#settings {
				float: right;
			}
			&:hover {
				//@include background-image(linear-gradient(left, #dd4444, #ee5555, #dd4444));
				background-color:rgba($whitebg,.3);
				div {
					text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
					opacity:1;
				}
				span {
					opacity:1;
				}
			}
		}
		.bartray {
			
		}
	}
}
[data-icon]:before {
	font-family:'icomoon';
	content:attr(data-icon);
	speak:none;
	font-weight:normal;
	-webkit-font-smoothing:antialiased;
}
hr {
	width: 90%;
	height:1px;
	background-color:transparent;
	@include background-image(linear-gradient(left, rgba(0,0,0,0), black 25%, black 75%, rgba(0,0,0,0)));
	border:none;
}
a {
	text-decoration: none;
	color:blue;
}

#formbox {
	position:relative;
	width:90%;
	max-width:600px;
	margin:0px auto 30px auto;
	box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
	background-color:$whitebg;
	@include border-radius(10px);
	padding:15px 10px;
	@include breakpoint(smaller) {
		text-align: center;
	}
	h1, h3 {
		margin:0px;
		padding:0px;
	}
	#input_container {
		@include breakpoint(larger) {
			display:block;
			width:330px;
			height:38px;
			position:relative;
			overflow-y:hidden;
			div {
				display: block;
				float: left;
				line-height:36px;
				width:70px;
				text-align:justify;
			}
		}
		input[type="text"], input[type="password"] {
			margin:0;
			display:block;
			@include breakpoint(smaller) {
				width:240px;
				margin: 5px auto;
			}
			@include breakpoint(larger) {
				position:absolute;
				right:0;
				width:200px;
				&:focus {
					width:318px;
				}
			}
		}
	}
	input[type="text"], input[type="password"] {
		margin:2px;
		padding:5px;
		border:1px #dedede solid;
		background-color:$whitebg;
		font-size:large;
		font-family:Avenir, "Open Sans",Helvetica, sans-serif;
		@include single-transition(all,.5s,ease-in-out);
		@include breakpoint(smaller) {
			width:240px;
			margin: 5px auto;
		}
		&:focus {
			outline:none;
			border:1px #cc3333 solid;
			background-color:#fff;
		}
	}
	input[type="submit"] {
		display:inline;
		padding:5px 20px;
		margin:5px 3px;
		font-family:Avenir, "Open Sans",Helvetica, sans-serif;;
		text-align:center;
		font-size:18px;
		color:white;
		background-color:#6E6AFF;
		@include background-image(linear-gradient(#6E6AFF, #37357F 95%, #1B1A40));
		background-size:100% 200%;
		background-position:0% 0%;
		border:none;
		@include border-radius(3px);
		@include single-box-shadow(rgba(0,0,0,.5),0,0,2px);
		@include single-transition(all,.5s,ease-in-out);
		cursor:pointer;
		@include breakpoint(smaller) {
			margin: 5px auto;
		}
		&:hover {
			background-position:0% 100%;
			@include single-box-shadow(rgba(0,0,0,1),0,0,3px);
		}
	}
}
#loginbox {
	@extend #formbox;
	#svgloginlogo {
		@include breakpoint(smaller) {
			width: 220px;
			height: 220px;
		}
		@include breakpoint(larger) {
			position:absolute;
			top: 0px;
			right:20px;
			width:200px;
			height:200px;
		}
	}
}
#signupbox {
	@extend #formbox;
	display:none;
	.hint {
		float:right;
		line-height:34px;
		color:#666;
		div[data-icon]
		{
			display: inline;
			margin-left: 7px;
			&.cross {
				color: #dd3333;
			}
			&.tick {
				color: #33dd33;
			}
		}
	}
}
footer {
	text-align: center;
	padding:30px 0;
	@include background-image(linear-gradient(rgba(#f0f0f0,0),rgba($whitebg,.75) 40%,rgba($whitebg,.75) 70%,rgba(#f0f0f0,0) 100%));
}